* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto Slab', sans-serif;
}
h5{
    font-size: 1.4rem !important;
}
h3{
    font-size: 1.5rem;
}
#main_sec {
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    padding: 50px 50px;
    margin-bottom: 90px;
}

#main_sec .imgBx {
    position: relative;
    width: 50%;
    height: 100%;
}

#main_sec .imgBx::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(5deg,#00cc65,#00b5);
    z-index: 1;
    mix-blend-mode: screen;
}

#main_sec .imgBx img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;

}

#main_sec .contentBx {
    display: flex;
    width: 50%;
    height: 100%;
    justify-content: center;
    align-items: center;
}

#main_sec .contentBx .formBx {
    width: 50%;
}

#main_sec .contentBx .formBx h2 {
    color: #607d8b;
    font-weight: 600;
    font-size: 1.5em;
    text-transform: uppercase;
    margin-bottom: 20px;
    border-bottom: 4px solid #00e572;
    display: inline-block;
    letter-spacing: 1px;
}

#main_sec .contentBx .formBx .inputBx {
    margin-bottom: 20px;
    
}

#main_sec .contentBx .formBx .inputBx span {
    font-size: 16px;
    margin-bottom: 5px;
    display: inline-block;
    color: #607d8b;
    font-weight: 300;
    letter-spacing: 1px;
    
}

#main_sec .contentBx .formBx .inputBx input,select {
    width: 100%;
    padding: 10px 20px !important;
    outline: none;
    font-weight: 400;
    border: 1px solid #607d8b;
    font-size: 16px;
    letter-spacing: 1px;
    color: #607d8b;
    background: transparent;
    border-radius: 30px !important;
}

#main_sec .contentBx .formBx .inputBx input[type="submit"] {
    background: #00e572;
    color: #fff;
    outline: none;
    border: none;
    font-weight: 500;
    cursor: pointer;
}

#main_sec .contentBx .formBx .inputBx input[type="submit"]:hover {
    background: #00cc65;
}

#main_sec .contentBx .formBx .remember {
    margin-bottom: 10px;
    color: #607d8b;
    font-weight: 400;
    font-size: 14px;
}

#main_sec .contentBx .formBx .inputBx p {
    color: #607d8b;
}

#main_sec .contentBx .formBx .inputBx p a {
    color: #00e572
}

#main_sec .contentBx .formBx h3 {
    color: #607d8b;
    text-align: center;
    margin: 80px 0 10px;
    font-weight: 500;
}

#main_sec .contentBx .formBx .sci{
    display: flex;
    justify-content: center;
    align-items: center;
}

#main_sec .contentBx .formBx .sci li {
    list-style: none;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #607d8b;
    border-radius: 50%;
    margin: 0 7px;
    cursor: pointer;
}

#main_sec .contentBx .formBx .facebook:hover {
    background: #3b5998;
}

#main_sec .contentBx .formBx .instagram:hover {
    background: #C13584;
}

#main_sec .contentBx .formBx .twitter:hover {
    background: #1DA1F2;
}

#main_sec .contentBx .formBx .sci li img {
    transform: scale(0.8);
    filter: invert(10);
}

@media (max-width: 768px) {
    #main_sec .imgBx {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 120%;
    }

    #main_sec .contentBx {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
        z-index: 1;

    }

    #main_sec .contentBx .formBx {
        width: 100%;
        padding: 20px;
        background: rgb(255 255 255 / 0.9);
        margin: 30px;
        margin-top: 100px;
    }

    #main_sec .contentBx .formBx h3 {
        color: #607d8b;
        text-align: center;
        margin: 20px 10px;
        font-weight: 800;
    }
    #footer{
        margin-top: 210px !important;
    }
}

